<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
</head>
<body>
    <h1>Página de Cadastro</h1>
    <form action="" method="POST"> {% csrf_token %}
        <table>
            {{ funcio_c.as_table }}
        </table>
        <br>

        <input type="submit" value="cadastrar">
    </form>
    <a href="http://127.0.0.1:8000/funcionario/funcionario_login/">Voltar à página de login</a>
</body>
</html>