{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/funcionario_login&cadastro.css' %}">
    <title>Página de Cadastro</title>
</head>
<body class="container">
    <div id="top-bar">
            <img src="{% static 'imagens/logo psytech.png' %}" alt="Logo PsyTech">
    </div>
    <div id="auth-box">
        <h1>Cadastro</h1>
        <form action="{% url 'funcionario_cadastro' %}" method="POST"> {% csrf_token %}
            <label for="nome">Nome:</label><br>
            <input type="text" name="nome"><br><br>
            <label for="usuario">Usuário:</label><br>
            <input type="text" name="usuario"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" name="email"><br><br>
            <label for="genero">Gênero:</label><br>
            <select id="genero" name="genero">
                <option value="">Selecione seu gênero</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outro</option>
            </select><br><br>
            <label for="estado">Estado:</label><br>
            <select id="estado" name="estado">
                <option value="">Selecione seu estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select><br><br>
            <label for="funcao">Função:</label><br>
            <select id="funcao" name="funcao">
                <option value="">Selecione sua função</option>
                <option value="ACG">Açougueiro</option>
                <option value="LIM">Encarregado de limpeza</option>
                <option value="REP">Repositor</option>
                <option value="CAX">Operador do Caixa</option>
                <option value="EMP">Empacotador</option>
                <option value="ADM">Administrador</option>
                <option value="PAD">Padeiro</option>
            </select><br><br>
            <label for="funcao">Senha:</label><br>
            <input type="password" name="senha"><br><br>
            <input type="submit" value="cadastrar">
        </form>
        <a href="http://127.0.0.1:8000/funcionario/funcionario_login/">Voltar à página de login</a>
    </div>
</body>
</html>